<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AAD_EVAL1_Proyecto - Jaume Llinàs Sansó</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c3c63f74a9.js" crossorigin="anonymous"></script>
    <style>
        html {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">AAD_EVAL1_Proyecto</h1>
                <h2 class="subtitle">Jaume Llinàs Sansó</h2>
                <p class="subtitle">
                    Proyecto para la asignatura de Accés a Dades centrado en acceder a datos<br>
                    almacenados en una base de datos MariaDB y representarlos de diferentes formas. <br>

                    En nuestro caso, <b>un visor de las tablas en HTML</b> y <b>un dashboard</b>.
                </p>

                <div class="buttons" style="margin-top: 2rem;">
                    <a href="/visor" class="button is-large">
                        <i class="fa-solid fa-table" style="margin-right: 12px"></i> Visor de tablas
                    </a>
                    <a href="/dashboard" class="button is-large">
                        <i class="fa-solid fa-gauge" style="margin-right: 12px"></i> Dashboard
                    </a>
                    <a href="https://www.github.com/jaumellinas/AAD_EVAL1_Proyecto" class="button is-large" target="_blank">
                        <i class="fa-brands fa-github" style="margin-right: 12px"></i> Código en GitHub
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>
</html>